.blur_item{
    opacity: .4;
    border: 1px solid !important;
}
.addtocart:disabled,
.addtocart[disabled]{
    color: #666666 !important;
}
.addtocart:disabled:hover,
.addtocart[disabled]:hover{
    background: #c5c1c1 !important;
}

#preloader {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    opacity: .7;
    z-index: 3333333;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #333;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #303030 !important;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.rupees::before
{
    content : 'Rs'
}
.cart-width
{
    width: 100px !important;
}
.cart-image
{
    margin: 0px 0px 0px 0px !important;
    width: 50px !important;
}
/*.loader {*/

    /*border: 10px solid #f3f3f3;*/
    /*border-radius: 50%;*/
    /*border-top: 10px solid #3498db;*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*-webkit-animation: spin 2s linear infinite;*/
    /*text-align: center;*/
    /*display: inline-block;*/
    /*padding: 5px 0px 5px;*/
    /*margin: 5px 0px 40px 0;*/
/*}*/

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.green{
    color: #019026;
}
.red{
    color: red;
}

.item-out-of-stock{
    color: red;
    font-size: 15px;
    margin-top: 8px;
}

 .product-disable .button-group button:hover,
 .product-disable:hover .button-group button {
     background: #c5c1c1 !important;
     color: #fff !important;
     text-decoration: none !important;
     cursor: pointer !important;
 }
 .no-border{
     border: none !important;
 }
