/* .easyzoom {
    position: relative;
} */

.easyzoom .magnifier {
    box-sizing: border-box;
    border: 1px solid #999;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    cursor: move;
}

.easyzoom .small,
.easyzoom .big {
    position: absolute;
    background: #fff;
    z-index: 100;
    
}

.easyzoom .small {
    top: 0;
    left: 0;
    cursor: move;
}

.easyzoom .big {
    overflow: hidden;
    display: none;
    border: 1px solid #ddd;
}

.easyzoom .small img,
.easyzoom .big img {
    position: absolute;
    top: 0;
    left: 0;
}
.image .small img{width: auto !important; height: auto !important;}
.image .small{margin-left: 100px;}
.image .big{top: 0;}
